.footer {
    width: 100%;
    height: 200px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 48px;
}

.inputContainer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputContainer > input {
    width: 70%;
    padding: 12px 24px 12px 8px;
    border: 2px solid #690705;
    border-radius: 10px 0 0 10px;
}

.inputContainer > button {
    background-color: #690705;
    color: #eb801e;
    padding: 12px 24px;
    border: 2px solid #690705;
    border-radius: 0 10px 10px 0;
}

.inputContainer > button:hover {
    cursor: pointer;
    opacity: 0.9;
}
